In [1]:
import pandas as pd
import numpy as np
import json
import os

In [2]:
def dfLoaderJson(dataSrc) :
    dfs = []
    dataFiles = os.listdir(dataSrc)

    print(f'reading {len(dataFiles)} from {dataSrc}')

    for f in dataFiles:
        dfs.append(pd.read_json(f'{dataSrc}/{f}'))
    
    all_dfs = pd.concat(dfs)
    print(all_dfs.shape)

    return all_dfs

In [3]:
def cleanRankings(rankings_df):
    rankings_exploded = rankings_df.explode('polls')
    rankings_exploded['pollName'] = rankings_exploded['polls'].apply(lambda x: x['poll'] if pd.notna(x) else None)
    rankings_exploded['ranks'] = rankings_exploded['polls'].apply(lambda x: x['ranks'] if pd.notna(x) else None)

    rankings_flat = rankings_exploded.explode('ranks')
    rankings_flat['school'] = rankings_flat['ranks'].apply(lambda x:x['school'] if pd.notna(x) else None)
    rankings_flat['rank'] = rankings_flat['ranks'].apply(lambda x:x['rank'] if pd.notna(x) else None)
    rankings_flat['teamId'] = rankings_flat['ranks'].apply(lambda x:x['teamId'] if pd.notna(x) else None)
    rankings_flat[['season', 'seasonType', 'week', 'pollName', 'teamId','school','rank']].copy()

    #pivot on poll type
    rankings_pivot = rankings_flat.pivot_table(
        index=['season', 'week', 'teamId', 'school'],
        columns='pollName',
        values='rank',
        aggfunc='first'
    ).reset_index()

    rankings_pivot.columns = ['_'.join(col.split()).lower() for col in rankings_pivot.columns]

    return rankings_pivot

In [4]:
def mergeGamesWithRankings(games_df, rankings_df):
    #home
    gamesRankings_df = games_df.merge( 
        rankings_df, 
        left_on=['season', 'week', 'homeId'], 
        right_on=['season', 'week', 'teamid'], 
        how='left'
    ).rename( columns={
            'ap_top_25': 'home_ap_rank',
            'coaches_poll': 'home_coaches_rank',
            'playoff_committee_rankings': 'home_committee_rank'
        })


    #away
    gamesRankings_df = gamesRankings_df.merge( 
            rankings_df, 
            left_on=['season', 'week', 'awayId'], 
            right_on=['season', 'week', 'teamid'], 
            how='left'
        ).rename( columns={
            'ap_top_25': 'away_ap_rank',
            'coaches_poll': 'away_coaches_rank',
            'playoff_committee_rankings': 'away_committee_rank'
        })

    print(gamesRankings_df.shape)
    print(gamesRankings_df.columns)

    return gamesRankings_df

In [5]:
def calcRankWinPercent(df, awayPollRankCol, homePollRankCol, onlyBothRanked = True):
    if onlyBothRanked:
        comp_df = df[(df[awayPollRankCol] > 0) & (df[homePollRankCol] > 0)].copy()
    else:
        comp_df= df[(df[awayPollRankCol] > 0) | (df[homePollRankCol] > 0)].copy()
        comp_df[awayPollRankCol] = comp_df[awayPollRankCol].fillna(999)
        comp_df[homePollRankCol] = comp_df[homePollRankCol].fillna(999)
        
    print(comp_df.shape)
    higher_ranked_won_df = comp_df[
    ((comp_df[homePollRankCol] < comp_df[awayPollRankCol] ) 
     &(comp_df['homePoints'] > comp_df['awayPoints'])) 
     |
    ((comp_df[awayPollRankCol] < comp_df[homePollRankCol] ) 
     & (comp_df['awayPoints'] > comp_df['homePoints'])) ]
    
    lower_ranked_won_df = comp_df[
    ((comp_df[homePollRankCol] < comp_df[awayPollRankCol] ) 
     &(comp_df['homePoints'] < comp_df['awayPoints'])) 
     |
    ((comp_df[awayPollRankCol] < comp_df[homePollRankCol] ) 
     & (comp_df['awayPoints'] < comp_df['homePoints'])) ]
    
    wins = higher_ranked_won_df.shape[0]
    total = comp_df.shape[0]
    print(f'{wins}/{total}->{wins/total:.4f}')

    if onlyBothRanked:
        scope = 'both'
    else:
        scope = 'either'
    res = {
        'Poll': awayPollRankCol.replace('away_', ''),
        'Scope': f'{scope} ranked',
        'Wins': wins, 
        'Total': total, 
        'Accuracy' : wins/total
    }

    return res, higher_ranked_won_df, lower_ranked_won_df

In [6]:
games_path = '../data/games'
games_df = dfLoaderJson(games_path)

games_df.head(5)

reading 26 from ../data/games
(45731, 33)

,id,season,week,seasonType,startDate,startTimeTBD,completed,neutralSite,conferenceGame,attendance,...,awayClassification,awayConference,awayPoints,awayLineScores,awayPostgameWinProbability,awayPregameElo,awayPostgameElo,excitementIndex,highlights,notes
0,63068,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Mountain West,3.0,[],NaN,1603.0,1572.0,NaN,,NaN
1,63070,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,None,None,10.0,[],NaN,NaN,NaN,NaN,,NaN
2,63071,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Mountain West,3.0,[],NaN,1324.0,1289.0,NaN,,NaN
3,63069,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Big Ten,7.0,[],NaN,1344.0,1349.0,NaN,,NaN
4,63072,2000,1,regular,2000-08-27T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Big Ten,5.0,[],NaN,1789.0,1712.0,NaN,,NaN

In [7]:
game_cols = ['week', 'season', 'homeId', 'homeTeam', 'homeConference', 'awayId', 'awayTeam', 'awayConference', 'homePoints','awayPoints']


games_df[game_cols].head(5)

,week,season,homeId,homeTeam,homeConference,awayId,awayTeam,awayConference,homePoints,awayPoints
0,1,2000,52,Florida State,ACC,252,BYU,Mountain West,29.0,3.0
1,1,2000,2348,Louisiana Tech,FBS Independents,2400,Mississippi Valley State,None,63.0,10.0
2,1,2000,2641,Texas Tech,Big 12,167,New Mexico,Mountain West,24.0,3.0
3,1,2000,2306,Kansas State,Big 12,2294,Iowa,Big Ten,27.0,7.0
4,1,2000,30,USC,Pac-10,213,Penn State,Big Ten,29.0,5.0

In [8]:
rankings_path = '../data/rankings'
rankings_df = dfLoaderJson(rankings_path)

rankings_df.head(5)

reading 26 from ../data/rankings
(414, 4)

   season seasonType  week                                              polls
0    2000    regular     1  [{'poll': 'AP Top 25', 'ranks': [{'rank': 17, ...
1    2000    regular     2  [{'poll': 'AP Top 25', 'ranks': [{'rank': 17, ...
2    2000    regular     3  [{'poll': 'AP Top 25', 'ranks': [{'rank': 17, ...
3    2000    regular     4  [{'poll': 'AP Top 25', 'ranks': [{'rank': 16, ...
4    2000    regular     5  [{'poll': 'AP Top 25', 'ranks': [{'rank': 11, ...

In [9]:
sample_rankings_df = rankings_df[:10]

In [10]:
cleanRankings_df = cleanRankings(rankings_df)
cleanRankings_df[['season','week', 'teamid', 'school', 'ap_top_25', 'coaches_poll', 'playoff_committee_rankings']]

,season,week,teamid,school,ap_top_25,coaches_poll,playoff_committee_rankings
0,2000,1,2,Auburn,18.0,NaN,NaN
1,2000,1,30,USC,15.0,NaN,NaN
2,2000,1,36,Colorado State,14.0,NaN,NaN
3,2000,1,38,Colorado,24.0,NaN,NaN
4,2000,1,52,Florida State,2.0,NaN,NaN
...,...,...,...,...,...,...,...
18999,2025,12,2964,Central College,NaN,NaN,NaN
19000,2025,12,3071,North Central College,NaN,NaN,NaN
19001,2025,12,3112,Christopher Newport,NaN,NaN,NaN
19002,2025,12,110242,West Florida,NaN,NaN,NaN
19003,2025,12,110243,UT Permian Basin,NaN,NaN,NaN

In [11]:
week1_2024 = cleanRankings_df[
    (cleanRankings_df['season'] == 2024) & 
    (cleanRankings_df['week'] == 12)
]

week1_2024[['school', 'ap_top_25', 'fcs_coaches_poll', 'playoff_committee_rankings' ]]

,school,ap_top_25,fcs_coaches_poll,playoff_committee_rankings
17506,Colorado,18.0,NaN,17.0
17507,Georgia,11.0,NaN,12.0
17508,Iowa State,NaN,NaN,NaN
17509,Boise State,13.0,NaN,13.0
17510,Idaho,NaN,10.0,NaN
...,...,...,...,...
17603,PennWest California,NaN,NaN,NaN
17604,Ouachita Baptist,NaN,NaN,NaN
17605,Incarnate Word,NaN,6.0,NaN
17606,North Central College,NaN,NaN,NaN
17607,West Florida,NaN,NaN,NaN

In [12]:
rankings_by_school = cleanRankings_df[
    (cleanRankings_df['season'] == 2024) 
].pivot_table(
        index=['school'], 
        columns=['season', 'week'], 
        values=['ap_top_25'],
        aggfunc='first' 
    ).reset_index()

In [13]:
rankings_by_school

                   school ap_top_25                                            \
season                         2024
week                              1     2     3     4     5     6     7     8
0                 Alabama      17.0   4.0   4.0   4.0   4.0   1.0   7.0   7.0
1                 Arizona      21.0  20.0  20.0   NaN   NaN   NaN   NaN   NaN
2           Arizona State       7.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                    Army      21.0   NaN   NaN   NaN   NaN   NaN   NaN  23.0
4                     BYU      13.0   NaN   NaN   NaN  22.0  17.0  14.0  13.0
5             Boise State       8.0   NaN   NaN   NaN  25.0  21.0  17.0  15.0
6          Boston College       NaN   NaN  24.0   NaN   NaN   NaN   NaN   NaN
7                 Clemson      14.0  25.0  22.0  21.0  17.0  15.0  10.0  10.0
8                Colorado      25.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9           Florida State      10.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10                Georgia       6.0   1.0   1.0   2.0   2.0   5.0   5.0   5.0
11           Georgia Tech       NaN  23.0   NaN   NaN   NaN   NaN   NaN   NaN
12               Illinois      16.0   NaN   NaN  24.0  19.0  24.0  23.0  22.0
13                Indiana      10.0   NaN   NaN   NaN   NaN  23.0  18.0  16.0
14                   Iowa      25.0  21.0   NaN   NaN   NaN   NaN   NaN   NaN
15             Iowa State      15.0   NaN  21.0  20.0  18.0  16.0  11.0   9.0
16                 Kansas      22.0  19.0   NaN   NaN   NaN   NaN   NaN   NaN
17           Kansas State      18.0  17.0  14.0  13.0  23.0  20.0  18.0  17.0
18                    LSU      13.0  18.0  16.0  16.0  14.0  13.0  13.0   8.0
19             Louisville       NaN  22.0  19.0  19.0  15.0  22.0   NaN   NaN
20                Memphis      24.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21                  Miami      18.0  12.0  10.0   8.0   7.0   8.0   6.0   6.0
22               Michigan       9.0  10.0  17.0  18.0  12.0  10.0  24.0  24.0
23               Missouri      22.0   9.0   6.0   7.0  11.0   9.0  21.0  19.0
24               NC State      24.0  24.0   NaN   NaN   NaN   NaN   NaN   NaN
25                   Navy       NaN   NaN   NaN   NaN   NaN   NaN   NaN  25.0
26               Nebraska       NaN   NaN  23.0  22.0   NaN   NaN   NaN   NaN
27      Northern Illinois       NaN   NaN  25.0  23.0   NaN   NaN   NaN   NaN
28             Notre Dame       2.0   5.0  18.0  17.0  16.0  14.0  11.0  12.0
29             Ohio State       1.0   2.0   3.0   3.0   3.0   3.0   2.0   4.0
30               Oklahoma      16.0  15.0  15.0  15.0  21.0  19.0  18.0   NaN
31         Oklahoma State      17.0  16.0  13.0  14.0  20.0   NaN   NaN   NaN
32               Ole Miss      11.0   6.0   5.0   5.0   6.0  12.0   9.0  18.0
33                 Oregon       3.0   7.0   9.0   9.0   8.0   6.0   3.0   2.0
34             Penn State       5.0   8.0   8.0  10.0   9.0   7.0   4.0   3.0
35             Pittsburgh       NaN   NaN   NaN   NaN   NaN   NaN  22.0  20.0
36                    SMU      12.0   NaN   NaN   NaN   NaN   NaN  25.0  21.0
37         South Carolina      19.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38               Syracuse      20.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
39              Tennessee       9.0  14.0   7.0   6.0   5.0   4.0   8.0  11.0
40                  Texas       4.0   3.0   2.0   1.0   1.0   2.0   1.0   1.0
41              Texas A&M      20.0   NaN   NaN  25.0  24.0  25.0  15.0  14.0
42                 Tulane       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
43                   UNLV      23.0   NaN   NaN   NaN   NaN  25.0   NaN   NaN
44                    USC      23.0  13.0  11.0  11.0  13.0  11.0   NaN   NaN
45                   Utah      12.0  11.0  12.0  12.0  10.0  18.0  16.0   NaN
46             Vanderbilt       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
47       Washington State       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN


season
week       9    10    11    12    13    14    15    16
0       15.0  14.0  11.0   9.0   7.0  13.0  11.0  11.0
1        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2        NaN   NaN   NaN   NaN  21.0  14.0  12.0  10.0
3       23.0  21.0  18.0  16.0  18.0  25.0  24.0  19.0
4       11.0   9.0   9.0   7.0  14.0  19.0  17.0  17.0
5       17.0  15.0  12.0  13.0  12.0  11.0  10.0   8.0
6        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7        9.0  11.0  19.0  17.0  17.0  12.0  18.0  13.0
8        NaN  23.0  21.0  18.0  16.0  23.0  20.0  20.0
9        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10       2.0   2.0   2.0  11.0   8.0   6.0   5.0   2.0
11       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12      20.0  24.0   NaN   NaN  24.0  22.0  21.0  21.0
13      13.0  13.0   8.0   5.0   5.0  10.0   9.0   9.0
14       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15      10.0  11.0  17.0   NaN  22.0  17.0  16.0  18.0
16       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17      16.0  17.0  22.0  20.0   NaN   NaN   NaN   NaN
18       8.0  16.0  14.0  21.0   NaN   NaN   NaN   NaN
19       NaN   NaN  25.0  22.0   NaN   NaN   NaN   NaN
20       NaN   NaN   NaN   NaN   NaN   NaN  25.0  25.0
21       6.0   5.0   4.0  12.0  11.0   8.0  14.0  15.0
22       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23      21.0  25.0   NaN  24.0   NaN  24.0  22.0  23.0
24       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25      24.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28      12.0   8.0  10.0   8.0   6.0   5.0   4.0   3.0
29       4.0   4.0   3.0   2.0   2.0   2.0   7.0   6.0
30       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32      18.0  19.0  16.0  10.0   9.0  15.0  15.0  16.0
33       1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
34       3.0   3.0   6.0   4.0   4.0   4.0   3.0   5.0
35      19.0  18.0  23.0   NaN   NaN   NaN   NaN   NaN
36      22.0  20.0  13.0  14.0  13.0   9.0   8.0  12.0
37       NaN   NaN   NaN  23.0  19.0  16.0  13.0  14.0
38       NaN   NaN   NaN   NaN   NaN   NaN  23.0  22.0
39       7.0   7.0   7.0   6.0  10.0   7.0   6.0   7.0
40       5.0   6.0   5.0   3.0   3.0   3.0   2.0   4.0
41      14.0  10.0  15.0  15.0  15.0  20.0   NaN   NaN
42       NaN   NaN   NaN  25.0  20.0  18.0   NaN   NaN
43       NaN   NaN   NaN   NaN  23.0  21.0  19.0  24.0
44       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
45       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
46      25.0   NaN  24.0   NaN   NaN   NaN   NaN   NaN
47       NaN  22.0  20.0  19.0  25.0   NaN   NaN   NaN

In [14]:
gamesRankings_df = None

In [15]:
gamesRankings_df = mergeGamesWithRankings(games_df, cleanRankings_df)

(45731, 51)
Index(['id', 'season', 'week', 'seasonType', 'startDate', 'startTimeTBD',
       'completed', 'neutralSite', 'conferenceGame', 'attendance', 'venueId',
       'venue', 'homeId', 'homeTeam', 'homeClassification', 'homeConference',
       'homePoints', 'homeLineScores', 'homePostgameWinProbability',
       'homePregameElo', 'homePostgameElo', 'awayId', 'awayTeam',
       'awayClassification', 'awayConference', 'awayPoints', 'awayLineScores',
       'awayPostgameWinProbability', 'awayPregameElo', 'awayPostgameElo',
       'excitementIndex', 'highlights', 'notes', 'teamid_x', 'school_x',
       'afca_division_ii_coaches_poll_x', 'afca_division_iii_coaches_poll_x',
       'home_ap_rank', 'bcs_standings_x', 'home_coaches_rank',
       'fcs_coaches_poll_x', 'home_committee_rank', 'teamid_y', 'school_y',
       'afca_division_ii_coaches_poll_y', 'afca_division_iii_coaches_poll_y',
       'away_ap_rank', 'bcs_standings_y', 'away_coaches_rank',
       'fcs_coaches_poll_y', 'away_committee_rank'],
      dtype='object')

In [16]:
both_ranked_df = gamesRankings_df[(gamesRankings_df['away_ap_rank'] > 0) & (gamesRankings_df['home_ap_rank'] > 0)]

In [17]:
both_ranked_df = both_ranked_df[['id', 'season', 'week', 'seasonType', 'startDate',
     'homeId', 'homeTeam', 'homePoints', 'home_ap_rank', 'home_coaches_rank', 'home_committee_rank', 'homePregameElo',
    'awayId', 'awayTeam', 'awayPoints', 'away_ap_rank', 'away_coaches_rank', 'away_committee_rank', 'awayPregameElo',
     ]]

both_ranked_df

,id,season,week,seasonType,startDate,homeId,homeTeam,homePoints,home_ap_rank,home_coaches_rank,home_committee_rank,homePregameElo,awayId,awayTeam,awayPoints,away_ap_rank,away_coaches_rank,away_committee_rank,awayPregameElo
4,63072,2000,1,regular,2000-08-27T00:00:00.000Z,30,USC,29.0,15.0,NaN,NaN,1641.0,213,Penn State,5.0,22.0,NaN,NaN,1789.0
28,63123,2000,2,regular,2000-09-02T00:00:00.000Z,2633,Tennessee,19.0,13.0,NaN,NaN,1834.0,2572,Southern Miss,16.0,22.0,NaN,NaN,1685.0
76,63158,2000,3,regular,2000-09-09T00:00:00.000Z,87,Notre Dame,24.0,23.0,NaN,NaN,1639.0,158,Nebraska,27.0,1.0,NaN,NaN,1963.0
108,63185,2000,3,regular,2000-09-09T00:00:00.000Z,264,Washington,34.0,15.0,NaN,NaN,1640.0,2390,Miami,29.0,4.0,NaN,NaN,1801.0
132,63234,2000,4,regular,2000-09-16T00:00:00.000Z,26,UCLA,23.0,14.0,NaN,NaN,1495.0,130,Michigan,20.0,3.0,NaN,NaN,1846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44984,401756945,2025,11,regular,2025-11-08T17:00:00.000Z,2641,Texas Tech,29.0,9.0,9.0,8.0,1903.0,252,BYU,7.0,8.0,8.0,7.0,1722.0
45169,401752763,2025,11,regular,2025-11-08T20:30:00.000Z,142,Missouri,17.0,19.0,17.0,22.0,1779.0,245,Texas A&M,38.0,3.0,3.0,3.0,1859.0
45252,401754597,2025,12,regular,2025-11-15T17:00:00.000Z,221,Pittsburgh,NaN,23.0,23.0,22.0,1668.0,87,Notre Dame,NaN,9.0,9.0,9.0,2186.0
45479,401752765,2025,12,regular,2025-11-15T20:30:00.000Z,333,Alabama,NaN,4.0,4.0,4.0,1977.0,201,Oklahoma,NaN,11.0,10.0,11.0,1794.0
45524,401752766,2025,12,regular,2025-11-16T00:30:00.000Z,61,Georgia,NaN,5.0,5.0,5.0,2018.0,251,Texas,NaN,10.0,10.0,10.0,1924.0

In [18]:
results = []

In [19]:
polls_comps = [
    ('away_ap_rank', 'home_ap_rank', True),
    ('away_ap_rank', 'home_ap_rank', False),
    ('away_coaches_rank', 'home_coaches_rank', True),
    ('away_coaches_rank', 'home_coaches_rank', False),
    ('away_committee_rank', 'home_committee_rank', True),
    ('away_committee_rank', 'home_committee_rank', False),
]

poll_comps_results = []

for setting in polls_comps:
    res, _, _ = calcRankWinPercent(
        gamesRankings_df, setting[0], setting[1], setting[2])

    poll_comps_results.append(res)

pd.DataFrame(poll_comps_results)

(1462, 51)
964/1462->0.6594
(7334, 51)
5792/7334->0.7897
(1422, 51)
937/1422->0.6589
(7079, 51)
5581/7079->0.7884
(251, 51)
162/251->0.6454
(1071, 51)
811/1071->0.7572

             Poll          Scope  Wins  Total  Accuracy
0         ap_rank    both ranked   964   1462  0.659371
1         ap_rank  either ranked  5792   7334  0.789746
2    coaches_rank    both ranked   937   1422  0.658931
3    coaches_rank  either ranked  5581   7079  0.788388
4  committee_rank    both ranked   162    251  0.645418
5  committee_rank  either ranked   811   1071  0.757236

In [20]:
('away_ap_rank', 'home_ap_rank', True)
res, ranked_df, upset_df = calcRankWinPercent(
        gamesRankings_df, 'away_coaches_rank', 'home_coaches_rank', True)

(1422, 51)
937/1422->0.6589

In [22]:
upset_df.columns
upset_df[['season', 'week', 'seasonType', 'homeTeam', 'homeConference', 'awayTeam', 
          'homePoints', 'awayPoints', 'home_ap_rank', 'away_ap_rank',
          'home_coaches_rank', 'away_coaches_rank']]

,season,week,seasonType,homeTeam,homeConference,awayTeam,homePoints,awayPoints,home_ap_rank,away_ap_rank,home_coaches_rank,away_coaches_rank
708,2001,1,regular,Colorado,Big 12,Fresno State,22.0,24.0,3.0,20.0,3.0,21.0
793,2001,3,regular,Washington,Pac-10,Michigan,23.0,18.0,15.0,11.0,15.0,10.0
903,2001,6,regular,Georgia Tech,ACC,Clemson,44.0,47.0,9.0,NaN,11.0,25.0
991,2001,8,regular,Georgia Tech,ACC,Maryland,17.0,20.0,15.0,22.0,15.0,20.0
1103,2001,10,regular,Nebraska,Big 12,Oklahoma,20.0,10.0,3.0,2.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
44230,2025,8,regular,Georgia,SEC,Ole Miss,43.0,35.0,9.0,5.0,7.0,5.0
44633,2025,10,regular,Texas,SEC,Vanderbilt,34.0,31.0,20.0,9.0,19.0,11.0
44909,2025,10,regular,Tennessee,SEC,Oklahoma,27.0,33.0,14.0,18.0,14.0,18.0
44921,2025,10,regular,Utah,Big 12,Cincinnati,45.0,14.0,24.0,17.0,24.0,16.0
44984,2025,11,regular,Texas Tech,Big 12,BYU,29.0,7.0,9.0,8.0,9.0,8.0

In [23]:
matchups = both_ranked_df.copy()

matchups['higher_ranked_team'] = matchups.apply(
    lambda x: x['homeTeam'] if x['home_ap_rank'] < x['away_ap_rank'] else x['awayTeam'], axis=1)

matchups['higher_rank'] = matchups.apply(
    lambda x: x['home_ap_rank'] if x['home_ap_rank'] < x['away_ap_rank'] else x['away_ap_rank'], axis=1)

matchups['lower_ranked_team'] = matchups.apply(
    lambda x: x['awayTeam'] if x['home_ap_rank'] < x['away_ap_rank'] else x['homeTeam'], axis=1)

matchups['lower_rank'] = matchups.apply(
    lambda x: x['away_ap_rank'] if x['home_ap_rank'] < x['away_ap_rank'] else x['home_ap_rank'], axis=1)

matchups['winner'] = matchups.apply(
    lambda x: x['homeTeam'] if x['homePoints'] > x['awayPoints'] else x['awayTeam'], axis=1)

matchups['higher_ranked_won'] = matchups['higher_ranked_team'] == matchups['winner']


favorite_games = matchups.groupby('higher_ranked_team').size().rename('times_favored')
underdog_games = matchups.groupby('lower_ranked_team').size().rename('times_underdog')

losses_when_favored = matchups[~matchups['higher_ranked_won']].groupby('higher_ranked_team').size().rename('losses_as_favorite')
wins_as_underdog = matchups[~matchups['higher_ranked_won']].groupby('lower_ranked_team').size().rename('wins_as_underdog')

overrated = pd.concat([favorite_games, losses_when_favored], axis=1).fillna(0)
overrated['loss_rate'] = overrated['losses_as_favorite'] / overrated['times_favored']
overrated = overrated[overrated['times_favored'] >= 10]  # minimum sample size
print("Most Overrated (highest loss rate when favored):")
print(overrated.sort_values('loss_rate', ascending=False).head(50))

underrated = pd.concat([underdog_games, wins_as_underdog], axis=1).fillna(0)
underrated['win_rate'] = underrated['wins_as_underdog'] / underrated['times_underdog']
underrated = underrated[underrated['times_underdog'] >= 10]
print("\nMost Underrated (highest win rate as underdog):")
print(underrated.sort_values('win_rate', ascending=False).head(50))

Most Overrated (highest loss rate when favored):
                    times_favored  losses_as_favorite  loss_rate
higher_ranked_team
Nebraska                       13                 9.0   0.692308
Louisville                     10                 6.0   0.600000
Ole Miss                       14                 8.0   0.571429
Texas A&M                      20                11.0   0.550000
BYU                            11                 5.0   0.454545
Boise State                    16                 7.0   0.437500
Iowa                           14                 6.0   0.428571
Tennessee                      26                11.0   0.423077
Michigan                       43                18.0   0.418605
Kansas State                   12                 5.0   0.416667
Wisconsin                      29                12.0   0.413793
Utah                           17                 7.0   0.411765
Virginia Tech                  27                11.0   0.407407
UCLA                           18                 7.0   0.388889
West Virginia                  18                 7.0   0.388889
Baylor                         13                 5.0   0.384615
Oklahoma State                 32                12.0   0.375000
Arkansas                       11                 4.0   0.363636
Michigan State                 22                 8.0   0.363636
Florida                        45                16.0   0.355556
Penn State                     32                11.0   0.343750
Miami                          32                11.0   0.343750
Missouri                       18                 6.0   0.333333
South Carolina                 12                 4.0   0.333333
Georgia                        88                29.0   0.329545
Notre Dame                     47                15.0   0.319149
Oregon                         53                16.0   0.301887
LSU                            71                21.0   0.295775
Stanford                       24                 7.0   0.291667
Auburn                         31                 9.0   0.290323
Florida State                  30                 8.0   0.266667
USC                            53                14.0   0.264151
Oklahoma                       73                19.0   0.260274
Clemson                        35                 9.0   0.257143
TCU                            23                 5.0   0.217391
Ohio State                     89                18.0   0.202247
Alabama                        99                20.0   0.202020
Texas                          43                 8.0   0.186047
Washington                     19                 3.0   0.157895
Cincinnati                     10                 1.0   0.100000

Most Underrated (highest win rate as underdog):
                   times_underdog  wins_as_underdog  win_rate
lower_ranked_team
Ole Miss                       30              17.0  0.566667
Alabama                        26              14.0  0.538462
Oklahoma                       41              21.0  0.512195
Washington State               14               7.0  0.500000
Stanford                       22              11.0  0.500000
Oregon                         38              18.0  0.473684
Clemson                        35              16.0  0.457143
LSU                            53              23.0  0.433962
Michigan                       46              19.0  0.413043
Florida State                  39              16.0  0.410256
Miami                          27              11.0  0.407407
South Carolina                 27              11.0  0.407407
Georgia                        37              15.0  0.405405
Boston College                 10               4.0  0.400000
Michigan State                 25              10.0  0.400000
Washington                     23               9.0  0.391304
Ohio State                     23               9.0  0.391304
Kansas State                   22               8.0  0.363636
Texas Tech                     11               4.0  0.363636
Utah                           22               8.0  0.363636
Louisville                     14               5.0  0.357143
Wisconsin                      40              14.0  0.350000
Iowa                           29              10.0  0.344828
Texas A&M                      38              13.0  0.342105
Florida                        47              16.0  0.340426
Auburn                         47              16.0  0.340426
USC                            27               9.0  0.333333
Georgia Tech                   18               6.0  0.333333
Virginia Tech                  25               8.0  0.320000
Purdue                         10               3.0  0.300000
Tennessee                      37              11.0  0.297297
UCLA                           17               5.0  0.294118
Baylor                         14               4.0  0.285714
NC State                       14               4.0  0.285714
Iowa State                     11               3.0  0.272727
Notre Dame                     37              10.0  0.270270
Oregon State                   15               4.0  0.266667
TCU                            19               5.0  0.263158
Texas                          39              10.0  0.256410
Illinois                       12               3.0  0.250000
Arkansas                       20               5.0  0.250000
Nebraska                       25               6.0  0.240000
Oklahoma State                 27               6.0  0.222222
Colorado                       10               2.0  0.200000
Missouri                       20               4.0  0.200000
Arizona                        11               2.0  0.181818
Mississippi State              22               4.0  0.181818
Pittsburgh                     11               2.0  0.181818
Arizona State                  19               3.0  0.157895
West Virginia                  13               2.0  0.153846

In [24]:
matchups['rank_delta'] = matchups['lower_rank'] - matchups['higher_rank']

favored_delta = matchups.groupby('higher_ranked_team')['rank_delta'].mean().rename('avg_delta_when_favored')

overrated_with_delta = overrated.merge(favored_delta, left_index=True, right_index=True)

print("Overrated WITH context:")
print(overrated_with_delta.sort_values('loss_rate', ascending=False)[
    ['times_favored', 'losses_as_favorite', 'loss_rate', 'avg_delta_when_favored']
].head(15))

Overrated WITH context:
                    times_favored  losses_as_favorite  loss_rate  \
higher_ranked_team
Nebraska                       13                 9.0   0.692308
Louisville                     10                 6.0   0.600000
Ole Miss                       14                 8.0   0.571429
Texas A&M                      20                11.0   0.550000
BYU                            11                 5.0   0.454545
Boise State                    16                 7.0   0.437500
Iowa                           14                 6.0   0.428571
Tennessee                      26                11.0   0.423077
Michigan                       43                18.0   0.418605
Kansas State                   12                 5.0   0.416667
Wisconsin                      29                12.0   0.413793
Utah                           17                 7.0   0.411765
Virginia Tech                  27                11.0   0.407407
UCLA                           18                 7.0   0.388889
West Virginia                  18                 7.0   0.388889

                    avg_delta_when_favored
higher_ranked_team
Nebraska                          7.615385
Louisville                        5.200000
Ole Miss                          8.500000
Texas A&M                         6.850000
BYU                               7.454545
Boise State                       7.562500
Iowa                              6.500000
Tennessee                         7.076923
Michigan                          7.976744
Kansas State                      7.500000
Wisconsin                         6.793103
Utah                              6.647059
Virginia Tech                     8.555556
UCLA                              5.833333
West Virginia                     8.333333

In [25]:
delta_bins = [0, 1, 2, 3, 4, 5, 7, 10, 15, 20, 25]
matchups['delta_bin'] = pd.cut(matchups['rank_delta'], delta_bins)

expected_loss_rate = matchups.groupby('delta_bin')['higher_ranked_won'].apply(lambda x: 1 - x.mean())
print("Expected loss rate by delta:")
print(expected_loss_rate)

Expected loss rate by delta:
delta_bin
(0, 1]      0.425532
(1, 2]      0.435644
(2, 3]      0.354839
(3, 4]      0.414634
(4, 5]      0.324074
(5, 7]      0.382514
(7, 10]     0.309524
(10, 15]    0.293436
(15, 20]    0.216418
(20, 25]    0.129032
Name: higher_ranked_won, dtype: float64

C:\Users\andre\AppData\Local\Temp\ipykernel_29800\3418412163.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  expected_loss_rate = matchups.groupby('delta_bin')['higher_ranked_won'].apply(lambda x: 1 - x.mean())