In [4]:
import pandas as pd
import json
import os

In [ ]:

games_df = []

path = '../data/games'
game_files = os.listdir(path)

print(len(game_files))

for f in game_files:
    games_df.append(pd.read_json(f"{path}/{f}"))

all_games_df = pd.concat(games_df)

print(all_games_df.shape)
all_games_df.head(5)

26
(45731, 33)

,id,season,week,seasonType,startDate,startTimeTBD,completed,neutralSite,conferenceGame,attendance,...,awayClassification,awayConference,awayPoints,awayLineScores,awayPostgameWinProbability,awayPregameElo,awayPostgameElo,excitementIndex,highlights,notes
0,63068,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Mountain West,3.0,[],NaN,1603.0,1572.0,NaN,,NaN
1,63070,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,None,None,10.0,[],NaN,NaN,NaN,NaN,,NaN
2,63071,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Mountain West,3.0,[],NaN,1324.0,1289.0,NaN,,NaN
3,63069,2000,1,regular,2000-08-26T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Big Ten,7.0,[],NaN,1344.0,1349.0,NaN,,NaN
4,63072,2000,1,regular,2000-08-27T00:00:00.000Z,False,True,False,False,NaN,...,fbs,Big Ten,5.0,[],NaN,1789.0,1712.0,NaN,,NaN

In [13]:
game_cols = ['week', 'season', 'homeId', 'homeTeam', 'homeConference', 'awayId', 'awayTeam', 'awayConference', 'homePoints','awayPoints']


all_games_df[game_cols].head(5)

,week,season,homeId,homeTeam,homeConference,awayId,awayTeam,awayConference,homePoints,awayPoints
0,1,2000,52,Florida State,ACC,252,BYU,Mountain West,29.0,3.0
1,1,2000,2348,Louisiana Tech,FBS Independents,2400,Mississippi Valley State,None,63.0,10.0
2,1,2000,2641,Texas Tech,Big 12,167,New Mexico,Mountain West,24.0,3.0
3,1,2000,2306,Kansas State,Big 12,2294,Iowa,Big Ten,27.0,7.0
4,1,2000,30,USC,Pac-10,213,Penn State,Big Ten,29.0,5.0